.taskCard {
    background-image: linear-gradient(to top, #161616, #696969);
    min-height: 50px;
    min-width: 90px;
    max-width: 150px;
    
    margin: 10px;
    border-radius: 25px;
    border: 1.5px solid #ffdc00;
    align-content: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: grab;

    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;

    user-select: none;
    -webkit-user-select: none;

    touch-action: pan-y;

    -webkit-tap-highlight-color: transparent;

    transform: translate3d(0, 0, 0);
}

li {
list-style: none;
gap: 5px;
}

.taskCard:active {
    cursor: grabbing;
}


