@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.column {
background-image: linear-gradient(var(--angle), #345345, #995484);
border-radius: 15px;
animation: roundForCicle 10s linear infinite;
min-width: 160px;
height: 80vh;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
overflow: hidden;

    padding: 20px 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex-grow: 1; 
    overflow-y: auto; 
    overflow-x: hidden;

    scrollbar-width: none;
}

.column h3 {
    text-align: center;
    margin: 0;

}

.column::-webkit-scrollbar{
    display: none;
}



@keyframes roundForCicle {
    0% {
        --angle: 0deg;
    }
    25% {
        --angle: 90deg
    }
    50% {
        --angle: 180deg
    }
    75% {
        --angle: 270deg
    }
    100% {
        --angle: 360deg;
    }
} 